<header id="site-header" class="container">
    <section class="header-banner header-banner--top row">

        <a class="header-banner__logo col-lg-2" href="#">
            <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo">
              </use>
            </svg>
        </a>

        <a class="header-banner__main col-lg-8 "href="#">
            <h6 id="Date" class="header-banner__main__date"></h6>
            <div class="header-banner__main__site-title">sea harvest</div>
            <h3 class="header-banner__main__site-description">Fresh seafood market</h3>
        </a>

        <div class="header-banner__location col-lg-2">
            <a class="header-banner__location__top" href="#">
                <h4>Belconnen<br>Markets</h4>
            </a>
            <a class="header-banner__location__bottom" href="#">
                <h4>Fyshwick<br>Markets</h4>
            </a>

        </div>
    </section>

    <nav class="header-banner main-menu">
            <a href="#" class="main-menu__item col-lg-3"><h4>about</h4>
                <svg class="hover-icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#outlineone">
                  </use>
                </svg>
            </a>
            <a href="#" class="main-menu__item col-lg-3"><h4>products</h4></a>
            <a href="#" class="main-menu__item col-lg-3"><h4>contact</h4></a>
            <a href="#" class="main-menu__item col-lg-3"><h4>order</h4></a>
    </nav>
</header>
