<header id="site-header" class="container">
    <section class="header-banner row">

        <a class="header-banner__logo col-lg-2" href="#">
            <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo">
              </use>
            </svg>
        </a>

        <a class="header-banner__main col-lg-8 "href="#">
            <h6 class="header-banner__main__date">Saturday March 16, 2019</h6>
            <div class="header-banner__main__site-title">sea harvest</div>
            <h3 class="header-banner__main__site-description">Fresh seafood market</h3>
        </a>

        <div class="header-banner__location col-lg-2">
            <a class="header-banner__location__top" href="#">
                <h4>Belconnen<br>Markets</h4>
            </a>
            <a class="header-banner__location__bottom" href="#">
                <h4>Fyshwick<br>Markets</h4>
            </a>

        </div>
    </section>

    <nav class="main-menu">

    </nav>
</header>
