<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Admin Panel</title>
        <link rel="stylesheet" href="assets/css/app.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="assets/css/app.css">

    </head>
    <body>
        {{>navbar}}

        {{body}}
        </div>
        {{>footer}}



<div class="svg-sprite-container">{{> 'sprite.symbol' }}</div>


<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/app.js"></script>

    </body>
</html>
