@import 'variables.scss';
@import 'icons.scss';
@import 'layout.scss';
@import 'utils.scss';

@font-face {font-family: 'Portrait'; src: url('../fonts/Portrait-Bold.otf')};
@font-face {font-family: 'Pressura-Mono-Bold'; src: url('../fonts/gt-pressura-mono-bold.ttf')};
@font-face {font-family: 'Pressura-Mono-Regular'; src: url('../fonts/gt-pressura-mono-regular.ttf')};

body {
  margin: 0;
  font-family: 'Pressura-Mono-Regular';
  background-image: url('../images/ricepaper2.jpg');
}

a{
    padding: 0;
    margin: 0;
    &:hover{
        text-decoration: none;
    }
}

h1{
    font-family: 'Portrait';
    text-transform: uppercase;
    font-size: 100px;
    color: $color;
    -webkit-transition: 1s;
    transition: 1s;
}

h2{
    font-family: 'Portrait';
    text-transform: uppercase;
    font-size: 50px;
    color: $color;
        -webkit-transition: 1s;
        transition: 1s;
}

p{
    color: $color;
        -webkit-transition: 1s;
        transition: 1s;
}

h6{
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: $color;
    margin-bottom: 0px;
        -webkit-transition: 1s;
        transition: 1s;
}

h3{
    margin-bottom: 0px;
    color: $color;
    font-size: 1.8em;
    font-family: Pressura-Mono-Bold;
    text-transform: uppercase;
        -webkit-transition: 1s;
        transition: 1s;
}

h4{
    margin-bottom: 0px;
    color: $color;
    font-size: 1.2em;
    line-height: 1.8rem;
    font-family: Pressura-Mono-Bold;
    text-transform: uppercase;
        -webkit-transition: 1s;
        transition: 1s;
}

ul{
    padding: 0;
    list-style: none;
    margin: 0;
}

.special-border{
        height: 100%;
    border: 3px solid;
-o-border-image: url("../images/outline-blue.svg") 32 round;
   border-image: url("../images/outline-blue.svg") 32 round;
   -webkit-filter: brightness(90%) grayscale(100%) contrast(130%);
           filter: brightness(90%) grayscale(100%) contrast(130%);
text-align: center;
-webkit-transition: 1s;
transition: 1s;
&:hover{
-webkit-filter: none;
            filter: none;
            .image{
                -webkit-filter: none;
                            filter: none;
            }
            h2, h4, h6{
                color: #26488c;
            }
}

}
