<div class="page-inner container">
    <div class="component row">
        <a href="#" class="component__left col-lg-8">
        <div class="component__header">
            <h1>Catch Of The Day</h1>
            <h6>From Sea To Plate</h6>

        </div>
        <div class="component__left__body">
            <img class="img-fluid" src="./assets/images/salmon-blue3.png" alt="">

            <p>
            The latest harvest has yielded deliciously fresh seafood perfect for devouring on its own or as part of a scrumptious recipe. Here’s a seasonal favourite... </p>

            <p class="component__left__footer">Full report on page  4</p>

        </div>
        </a>
        <a href="#" class="component__right col-lg-4">
            <div class="component__right__content special-border">
                <h2>Find Us</h2>
                <img class="img-fluid" src="./assets/images/compass-blue-med.png" alt="">
                <h4 class="component__right__content__headline">Belconnen Markets </h4>
                <h6>10 Lathlain St, Belconnen ACT 2617, Australia <br>Open Wed-Sun 8:00am-6:00pm </h6>
                <h4 class="component__right__content__headline">Belconnen Markets </h4>
                <h6>10 Lathlain St, Belconnen ACT 2617, Australia <br>Open Wed-Sun 8:00am-6:00pm </h6>
            </div>
        </a>
    </div>

    <div class="component row">
        <a href="#" class="component__left contact col-xl-3">
            <div class="contact-inner special-border">


            <img class="img-fluid" src="./assets/images/phone-blue-sml.png" alt="">

            <h2 class="contact-inner__headline">get in touch</h2>

            <h4>Call Us</h4>
            <h6>0436 455 511</h6>

            <h4 class="contact-inner__e-mail">Call Us</h4>
            <h6>0436 455 511</h6>

            </div>

        </a>
        <a href="#" class="component__right col-xl-9">
            <h1>Straight From the Source </h1>
            <div class="component__right__content-two">
                <h6>Sea Harvest Fresh</h6>
                <div class="component__right__content-two__paragraph">

                        <p>
                        The blue green waters off the south east coast of Australia glisten as the sun rises above the horizon. Up early and eager, local fishermen brave the choppy seas as they collect their daily yield. Dedicated to preservation, they work extra hard to follow environmentally sustainable fishing practices – including avoiding overfishing, staying clear of protected areas, releasing protected species, and using safe fishing gear. As they arrive back at the docks, the huge array of fresh seafood is put on ice and shipped directly to Sea Harvest’s door in Canberra. Oysters, prawns, mussels, calamari, lobster, snapper, and every seasonal fish available travels straight from sea to store, just for you.
                        </p>

                        <img class="img-fluid" src="./assets/images/fish-tall-blue-med.png" alt="">

                </div>


            </div>
        </a>
    </div>


</div>
