<div class="page-inner container">
    <div class="component row">
        <a href="#" class="component__left col-lg-8">
        <div class="component__header">
            <h1>Catch Of The Day</h1>
            <p>From Sea To Plate</p>

        </div>
        <div class="component__left__body">
            <img class="img-fluid" src="./assets/images/salmon-blue3.png" alt="">

            <p>
            The latest harvest has yielded deliciously fresh seafood perfect for devouring on its own or as part of a scrumptious recipe. Here’s a seasonal favourite... </p>

        </div>
        <div class="component__left__footer">
            <p class="component__left__footer__right">Full report on page  4</p>

        </div>
        </a>
        <a href="#" class="component__right col-lg-4">
            <h2>Find Us</h2>
        </a>
    </div>
</div>
