<div class="page-inner container">
    <div class="component row">
        <a href="#" class="component__block col-lg-8">
        <div class="component__header">
            <h1>Catch Of The Day</h1>
            <h6>From Sea To Plate</h6>

        </div>
        <div class="component__block__body">
            <img class="img-fluid image" src="./assets/images/salmon-blue3.png" alt="">

            <p>
            The latest harvest has yielded deliciously fresh seafood perfect for devouring on its own or as part of a scrumptious recipe. Here’s a seasonal favourite... </p>

            <p class="component__block__footer">Full report on page  4</p>

        </div>
        </a>
        <a href="#" class="component__block col-lg-4">
            <div class="component__block__content special-border">
                <h2>Find Us</h2>
                <img class="img-fluid image" src="./assets/images/compass-blue-med.png" alt="">
                <h4 class="component__block__content__headline">Belconnen Markets </h4>
                <h6>10 Lathlain St, Belconnen ACT 2617, Australia <br>Open Wed-Sun 8:00am-6:00pm </h6>
                <h4 class="component__block__content__headline">Belconnen Markets </h4>
                <h6>10 Lathlain St, Belconnen ACT 2617, Australia <br>Open Wed-Sun 8:00am-6:00pm </h6>
            </div>
        </a>
    </div>

    <div class="component row">
        <a href="#" class="component__block col-xl-3">

            <div class="contact-inner special-border">


            <img class="img-fluid image" src="./assets/images/phone-blue-sml.png" alt="">

            <h2 class="contact-inner__headline">get in touch</h2>

            <div class="contact-inner__call-us">
                <h4>Call Us</h4>
            <h6>0436 455 511</h6>
        </div>
      <div class="contact-inner__call-us">
            <h4 class="contact-inner__e-mail">Call Us</h4>
            <h6>0436 455 511</h6>
        </div>

            </div>

        </a>
        <a href="#" class="component__block col-xl-9">
            <h1>Straight From the Source </h1>
            <div class="component__block__content__two-columns">
                <h6>Sea Harvest Fresh</h6>
                <div class="component__block__content__two-columns__paragraph">

                        <p>
                        The blue green waters off the south east coast of Australia glisten as the sun rises above the horizon. Up early and eager, local fishermen brave the choppy seas as they collect their daily yield. Dedicated to preservation, they work extra hard to follow environmentally sustainable fishing practices – including avoiding overfishing, staying clear of protected areas, releasing protected species, and using safe fishing gear. As they arrive back at the docks, the huge array of fresh seafood is put on ice and shipped directly to Sea Harvest’s door in Canberra. Oysters, prawns, mussels, calamari, lobster, snapper, and every seasonal fish available travels straight from sea to store, just for you.
                        </p>

                        <img class="img-fluid image" src="./assets/images/fish-tall-blue-med.png" alt="">

                </div>


            </div>
        </a>
    </div>

    <div class="component row">
        <!-- <div class="col-xl-4">
            <div class="row"> -->
                <div class="component__block border-box col-xl-4">
                    <div class="padding-box">
                        <h1 class="component smaller-headline">Straight From the Source </h1>
                        <h6>From Sea To Plate</h6>
                        <svg class="image bold-logo ">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logobold">
                          </use>
                        </svg>
                        <p> The Sea Harvest story begins in the 1800s on a small, picturesque fishing island called Lefkada in Greece. For generations since, our love of the sea and taste for seafood has endured, following us to Canberra where we settled in the 1970s. For over 40 years now, we have dedicated ourselves to offering the finest and freshest Australian seafood at the best prices. </p>
                        <p class="component__block__footer">Full report on page  9</p>
                    </div>
                    <div class="empty-block">

                    </div>
                </div>

            <!-- </div>

        </div> -->
        <div class="component__block col-xl-4">
            <div>
                <h1 class="component smaller-headline">
                    Batemans Bay Fishing Tips </h1>
                <h6>score the best catch</h6>
            </div>
            <img class="img-fluid image" src="./assets/images/fisherman-blue-med.png" alt="">
            <p> Cars will soon be bumper-to-bumper on the Clyde and Brown mountains as Canberrans pour out of the capital to feel the sun on their backs and... </p>
            <p class="component__block__footer">Full report on page  10</p>

        </div>

        <div class="col-xl-4 component__block border-box">
            <!-- <div class="row"> -->
                <!-- <div class=""> -->
                    <div class="padding-box">
                        <h1 class="component smaller-headline">fresh as it gets</h1>
                        <h6>taste the sea</h6>
                        <img class="img-fluid image" src="./assets/images/crab-blue-med.png" alt="">
                        <p>Sea Harvest’s seafood is trusted by many of the best seafood restaurants in Canberra. We are obsessed with cleanliness and quality, and only buy from suppliers who are 100% committed to sustainable fishing practices and the long term protection of sea life. We buy fresh so that we can sell fresh, and pride ourselves on bringing the best of the coast to the capital.</p>
                    </div>

                    <div class="empty-block">

                        <div class="empty-block__label">sea harvest</div>

                    </div>
                <!-- </div> -->

            <!-- </div> -->

        </div>
    </div>
    <div class="component row">
        <div class="component__block footer-notes col-xl-5">
            <h6>©2018 SEA HARVEST AUSTRALIA, FRESH SEAFOOD MARKET</h6>
        </div>
        <div class="component__block footer-notes col-xl-4">
            <h6>Belconnen Markets / Fyshwick Markets</h6>
        </div>
        <div class="component__block footer-notes col-xl-3">
            <h6>Website by peciu.</h6>
        </div>

    </div>
